body {
    background-color: rgba(74, 37, 37, 0.3);
    margin-left: 10%;
    margin-right: 10%;
    color: whitesmoke;
    font-family: Calibri;
}

h1 {
    color: white;
}

h2 {
    color: #ab9491;
    margin-left: 5%;
}

h3 {
    color: #926e68;
    margin-left: 7%;
}

h4 {
    color: #606060;
    margin-left: 10%;
}

h5 {
    color: #823439;
    margin-left: 13%;
}

img[alt=UserManualImage] {
    display: block;
    margin: auto;
}